<section class="section" id="benefits">
	<div class="container">
		<h2 class="section__title">Преимущества кредита в ФР</h2>
		<div class="benefits">
			<div class="benefits__item">
				<img src="./img/benefits1.png" alt="" class="benefits__img" />
				<p class="benefits__text">
					Мы предлагаем лучшие условия на рынке кредитования и гарантируем
					быстрое принятие решения
				</p>
			</div>
			<div class="benefits__item">
				<img src="./img/benefits2.png" alt="" class="benefits__img" />
				<p class="benefits__text">
					Мы сотрудничаем со многими ведущими банками и ведущими страховыми
					компаниями России
				</p>
			</div>
			<div class="benefits__item">
				<img src="./img/benefits3.png" alt="" class="benefits__img" />
				<p class="benefits__text">
					Нашим клиентам было одобрен 28.400 кредитов на общую сумму 2 млрд. 300
					млн. 650 тыс. рублей!
				</p>
			</div>
			<div class="benefits__item">
				<img src="./img/benefits4.png" alt="" class="benefits__img" />
				<p class="benefits__text">
					Нашим клиентам было одобрен 28.400 кредитов на общую сумму 2 млрд. 300
					млн. 650 тыс. рублей!
				</p>
			</div>
		</div>
	</div>
</section>
