<div class="conditions">
	<p class="conditions__text">
		Кредит предоставляется в размере от 300 000 рублей до 60 000 000 рублей.
		Годовой процент за пользование кредитом (с учетом требований ФЗ №353-ФЗ) –
		от 6,9 до 12 % годовых в рублях. Окончательные условия получения будут
		предложены в индивидуальном порядке. Срок кредита от 3 месяцев до 30 лет в
		зависимости от возраста заемщика. Возможно досрочное погашение. При
		досрочном погашении проценты за использование кредита будут пересчитаны
		исходя из суммы досрочного погашения и срока пользования кредитом. При сумме
		кредита 1 000 000 рублей на срок 60 месяцев при ставке 8% годовых примерный
		ежемесячный платеж составит 20 276 рублей. Примерная общая сумма ежемесячных
		платежей за 60 месяцев составит 20 276 *60 = 1 216 560 рублей. Лицензии
		банков-партнеров: АО «Банк ЖилФинанс» — № 3138, АО ЮниКредит Банк — №1, ПАО
		«Совкомбанк» — №963, АО «АЛЬФА-БАНК» — №1326, АО «Райффайзенбанк» — №3292,
		АКБ «Абсолют Банк» (ПАО) — №2306, АО Банк «Развитие-Столица» - № 3013, ПАО
		КБ «Восточный» - № 1460
	</p>
</div>

<div class="request" id="request">
	<div class="container">
		<h2 class="request__title">
			Оставьте заявку и наш менеджер ответит на любые Ваши вопросы
		</h2>
		<form action="#" class="request__form">
			<input type="text" class="request__input" placeholder="Ваше имя" />
			<input
				type="number"
				class="request__input"
				placeholder="Ваш номер телефона"
			/>
			<button class="request__btn" type="submit">Оставить заявку</button>
		</form>
	</div>
</div>
