<section class="section">
	<div class="container">
		<div class="credit-history">
			<div class="credit-history__item credit-history__item--right">
				<img src="./img/history-img.png" alt="" class="credit-history__img" />
			</div>
			<div class="credit-history__item">
				<h2 class="credit-history__title">
					Бесплатная проверка кредитной истории
				</h2>
				<p class="credit__history__text">
					Кредитная история является одним из ключевых факторов для принятия
					решения о выдаче кредита заёмщику. Наш специалист бесплатно подготовит
					для вас выписку из кредитной истории и детально проконсультирует по её
					содержанию.
				</p>
				<button class="credit-history__btn" data-scroll="request">
					Проверить кредитную историю бесплатно
				</button>
			</div>
		</div>
	</div>
</section>
