<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__logo">
				<img src="./img/footer-logo.svg" alt="" class="footer__logo-img" />
				<div class="footer__logo-text"><b>Фабрика</b> решений</div>
			</div>
			<nav class="footer__nav">
				<a href="#" class="footer__link" data-scroll="terms"
					>Условия кредитования</a
				>
				<a href="#" class="footer__link" data-scroll="requirements"
					>Требования к заемщику</a
				>
				<a href="#" class="footer__link" data-scroll="benefits"
					>Наши преимущества</a
				>
				<a href="#" class="footer__link" data-scroll="stage"
					>Этапы кредитования</a
				>
				<a href="#" class="footer__link" data-scroll="testimonials">Отзывы</a>
			</nav>

			<address class="footer__address">
				<p>
					г. Москва, ул. Бауманская, д. 13с2, м. Бауманская, БЦ Central Street
				</p>
			</address>

			<a href="mailto:f-res@gmail.com" class="footer__mail">f-res@gmail.com</a>

			<div class="footer__call">
				<a href="tel:74951323192" class="footer__number">+7 (495) 132-31-92</a>
				<p>Единая справочная служба Ежедневно с 10:00 до 19:00 (мск.)</p>
			</div>

			<div class="social">
				<a href="#" class="social__item">
					<img src="./img/VK.svg" alt="" class="social__item-img" />
				</a>
				<a href="#" class="social__item">
					<img src="./img/Instagram.svg" alt="" class="social__item-img" />
				</a>
				<a href="#" class="social__item">
					<img src="./img/Youtube.svg" alt="" class="social__item-img" />
				</a>
				<a href="#" class="social__item">
					<img src="./img/Facebook.svg" alt="" class="social__item-img" />
				</a>
				<a href="#" class="social__item">
					<img src="./img/OK.svg" alt="" class="social__item-img" />
				</a>
				<a href="#" class="social__item">
					<img src="./img/Twitter.svg" alt="" class="social__item-img" />
				</a>
			</div>
		</div>
	</div>
</footer>

<button class="top-btn" data-scroll="body">top</button>
