<header class="header" id="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__logo">
				<img src="./img/header-logo.svg" alt="logo" class="header__logo-img" />
				<div class="header__logo-text"><b>Фабрика</b> решений</div>
			</div>
			<nav class="header__nav">
				<a href="#" class="nav__link" data-scroll="terms"
					>Условия кредитования</a
				>
				<a href="#" class="nav__link" data-scroll="requirements"
					>Требования к заемщику</a
				>
				<a href="#" class="nav__link" data-scroll="benefits"
					>Наши преимущества</a
				>
				<a href="#" class="nav__link" data-scroll="stage">Этапы кредитования</a>
				<a href="#" class="nav__link" data-scroll="testimonials">Отзывы</a>
			</nav>

			<address class="header__address">
				<p>г. Москва, ул. Бауманская, д. 13с2, БЦ Central Street</p>
			</address>

			<a href="mailto:f-res@gmail.com" class="header__mail">f-res@gmail.com</a>

			<div class="header__call">
				<a href="tel:74951323192" class="call__number">+7 (495) 132-31-92</a>
				<p>Единая справочная служба Ежедневно с 10:00 до 19:00 (мск.)</p>
			</div>

			<button class="burger" id="burger-btn">
				<span class="burger__item">burger</span>
			</button>
		</div>
	</div>

	<div class="burger__menu" id="burger-menu">
		<div class="container">
			<div class="burger__menu-wrapper">
				<div class="burger__menu-list">
					<a href="#" class="menu__link" data-scroll="terms"
						>Условия кредитования</a
					>
					<a href="#" class="menu__link" data-scroll="requirements"
						>Требования к заемщику</a
					>
					<a href="#" class="menu__link" data-scroll="benefits"
						>Наши преимущества</a
					>
					<a href="#" class="menu__link" data-scroll="stage"
						>Этапы кредитования</a
					>
					<a href="#" class="menu__link" data-scroll="testimonials">Отзывы</a>
				</div>
			</div>
		</div>
	</div>
</header>
