<section class="section">
	<div class="container">
		<h2 class="section__title">Мы поможем даже если</h2>
		<div class="help">
			<div class="help__item">
				<img src="./img/Close.png" alt="" class="help__img" />
				<p class="help__text">Вы получили несколько отказов</p>
			</div>
			<div class="help__item">
				<img src="./img/Graph.png" alt="" class="help__img" />
				<p class="help__text">По отчетности компании убыток</p>
			</div>
			<div class="help__item">
				<img src="./img/Chart.png" alt="" class="help__img" />
				<p class="help__text">Заемщик имеет плохую кредитную историю</p>
			</div>
			<div class="help__item">
				<img src="./img/Wallet.png" alt="" class="help__img" />
				<p class="help__text">У вас один или несколько кредитов</p>
			</div>
			<div class="help__item">
				<img src="./img/Info.png" alt="" class="help__img" />
				<p class="help__text">У вас нет залога или поручителей</p>
			</div>
			<div class="help__item">
				<img src="./img/two-person.png" alt="" class="help__img" />
				<p class="help__text">
					Имеются текущие арбитраж и задолженности по ФССП
				</p>
			</div>
			<a href="#" class="help__link">Помогите мне ></a>
		</div>
	</div>
</section>
