<section class="intro">
	<div class="container">
		<div class="intro__inner">
			<h1 class="intro__title">Потребительский кредит</h1>
			<div class="intro__subtitle">
				Получите до 5 000 000 рублей на любые цели, максимально быстрое
				одобрение Вашей заявки. Без справок о Ваших доходах
			</div>
			<button class="intro__btn" data-scroll="request">Получить кредит</button>
			<img src="./img/mobile-intro-img.png" alt="" class="intro__img-mobile" />
			<div class="intro__wrapper">
				<div class="intro__text">
					<h3>от 6.9% годовых</h3>
					<p>процетные ставки</p>
				</div>
				<div class="intro__text">
					<h3>от 3 мес. до 30 лет</h3>
					<p>срок кредита</p>
				</div>
				<div class="intro__text">
					<h3>1 день</h3>
					<p>Рассмотрение заявки</p>
				</div>
			</div>
		</div>
	</div>
</section>
