<section class="section payment">
	<div class="container">
		<h2 class="section__title">Расчитайте кредит</h2>
		<div class="section__wrapper">
			<form action="#" class="form show" id="form-1">
				<div class="form__item">
					<p class="form__item-text">Сумма кредита (руб.)</p>
					<input id="input-0" type="number" class="form__item-input" />
					<div id="credit-sum"></div>
				</div>
				<div class="form__item">
					<p class="form__item-text">Вы работаете?</p>
					<div class="select__wrapper">
						<select class="form__item-select">
							<option value="">Не работаю</option>
							<option value="">Работаю</option>
							<option value="">Нахожусь на пенсии</option>
						</select>
					</div>
				</div>
				<div class="form__item">
					<p class="form__item-text">Какая у вас кредитная история?</p>
					<div class="select__wrapper">
						<select class="form__item-select">
							<option value="">Хорошая</option>
							<option value="">Нормальная</option>
							<option value="">Плохая</option>
						</select>
					</div>
				</div>
				<div class="form__item-wrapper">
					<button id="form-btn" class="form__item-btn" type="button">
						Дальше
					</button>
					<p class="form__step">01/02</p>
				</div>
				<div class="form__item">
					<p class="form__item-text">Срок (лет)</p>
					<input id="input-1" type="number" class="form__item-input" />
					<div id="credit-time"></div>
				</div>
			</form>

			<form action="#" class="form" id="form-2">
				<div class="form__item">
					<p class="form__item-text">Ваше имя</p>
					<input
						type="text"
						class="form__item-input form__item-input--border"
						placeholder="Ислам"
					/>
				</div>
				<div class="form__item">
					<p class="form__item-text">Ваш номер телефона</p>
					<input
						type="tel"
						class="form__item-input form__item-input--border"
						placeholder="+7(___)___-__-__"
					/>
				</div>
				<div class="form__item">
					<p class="form__item-text">E-mail</p>
					<input
						type="email"
						class="form__item-input form__item-input--border"
						placeholder="mail@mail.com"
					/>
				</div>
				<div class="form__item-wrapper">
					<button class="form__item-btn" type="button">Дальше</button>
					<p class="form__step">02/02</p>
				</div>
				<div class="form__item">
					<p class="form__item-text">Регион проживания</p>
					<input
						type="text"
						class="form__item-input form__item-input--border"
						placeholder="Москва"
					/>
				</div>
			</form>
			<img src="./img/form-img.png" alt="" class="section__img" />
		</div>
	</div>
</section>
