<section class="section section--blue" id="requirements">
	<div class="container">
		<h2 class="section__title section__title--white">Требования к заёмщику</h2>
		<div class="requirements">
			<div class="requirements__item">
				<h4 class="requirements__title">Возраст</h4>
				<p class="requirements__text">
					Не младше 18 лет и не старше 65 лет на момент возврата кредита
				</p>
			</div>
			<div class="requirements__item">
				<h4 class="requirements__title">Стаж работы</h4>
				<p class="requirements__text">
					Наличие официальной работы не требуется
				</p>
			</div>
			<div class="requirements__item">
				<h4 class="requirements__title">Заработная плата</h4>
				<p class="requirements__text">
					Подтверждение размера заработной платы: не обязательно
				</p>
			</div>
			<div class="requirements__item">
				<h4 class="requirements__title">Кредитная история</h4>
				<p class="requirements__text">
					требования к качеству кредитной истории: мы найдем решение для любой
					ситуации, даже самой сложной
				</p>
			</div>
		</div>
	</div>
</section>
