<section class="section" id="stage">
	<div class="container">
		<h2 class="section__title">Этапы кредитования</h2>
		<div class="stage">
			<div class="stage__item">
				<img src="./img/stage-img1.png" alt="" class="stage__img" />
				<h3 class="stage__title">Заявка на кредит</h3>
				<p class="stage__text">
					Оставьте заявку на кредит или пройдите наш квиз, наш менеджер позвонит
					сразу, в день обращения
				</p>
				<a href="#" class="stage__link" data-scroll="request"
					>Оставить заявку</a
				>
			</div>
			<span class="stage__line">line</span>
			<div class="stage__item">
				<img src="./img/stage-img2.png" alt="" class="stage__img" />
				<h3 class="stage__title">Встреча</h3>
				<p class="stage__text">
					Менеджер согласует встречу. Наш представитель бесплатно привезет карту
					для кредита
				</p>
				<a href="#" class="stage__link" data-scroll="request"
					>Оставить заявку</a
				>
			</div>
			<span class="stage__line">line</span>
			<div class="stage__item">
				<img src="./img/stage-img3.png" alt="" class="stage__img" />
				<h3 class="stage__title">Получение наличных</h3>
				<p class="stage__text">
					Сразу будет доступно до 100% от кредита. Тратьте деньги с карты или
					снимайте наличные без комиссии
				</p>
				<a href="#" class="stage__link" data-scroll="request"
					>Оставить заявку</a
				>
			</div>
		</div>
	</div>
</section>
