<section class="tabs" id="terms">
	<div class="tabs__header">
		<div class="container">
			<div class="tabs__nav">
				<button class="tabs__nav-btn" data-tab="tab_1">
					Условия кредитования
				</button>
				<button class="tabs__nav-btn" data-tab="tab_2">Документы</button>
				<button class="tabs__nav-btn" data-tab="tab_3">Вопросы/ответы</button>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="tabs__item" id="tab_1">
			<div class="tabs__item-wrapper">
				<table class="table">
					<tbody>
						<tr>
							<td>Валюта</td>
							<td>Рубли РФ</td>
						</tr>
						<tr>
							<td>Срок</td>
							<td>до 30 лет</td>
						</tr>
						<tr>
							<td>Коммисия за выдачу кредита</td>
							<td>отсутствует</td>
						</tr>
						<tr>
							<td>Досрочное погашение</td>
							<td>бесплатно</td>
						</tr>
						<tr>
							<td>Процентные ставки</td>
							<td>от 6.8% годовых</td>
						</tr>
						<tr>
							<td>Сумма кредита</td>
							<td>до 60 млн. рублей</td>
						</tr>
					</tbody>
				</table>

				<div class="tabs__card">
					<div class="card__img">
						<img src="./img/card-img.png" alt="" />
					</div>
					<div class="card__text">
						Узнайте какой банк готов выдать Вам кредит
					</div>
					<button class="card__btn" data-scroll="request">
						Оформить кредит
					</button>
				</div>
			</div>
		</div>
		<div class="tabs__item" id="tab_2">
			<div class="tabs__item-wrapper tabs__item-wrapper--wrap">
				<div class="tabs__document">
					<img src="./img/document.png" alt="" class="document__img" />
					<p class="document__text">
						Паспорт и 1 документ на выбор (права водителя, загранпаспорт, ИНН,
						СНИЛС)
					</p>
				</div>

				<div class="tabs__document">
					<img src="./img/document.png" alt="" class="document__img" />
					<p class="document__text">
						Свидетельство о регистрации права собственности, договор
						купли-продажи на объект недвижимости (дарения, приватизации,
						наследства).
					</p>
				</div>

				<div class="tabs__card">
					<div class="card__img">
						<img src="./img/card-img.png" alt="" />
					</div>
					<div class="card__text">
						Узнайте какой банк готов выдать Вам кредит
					</div>
					<button class="card__btn" data-scroll="request">
						Оформить кредит
					</button>
				</div>
			</div>
		</div>
		<div class="tabs__item" id="tab_3">
			<div class="accordion">
				<div class="accordion__item" data-accordion="accordion_1">
					Могу ли я получить кредит в Москве, если работаю и живу в другом
					регионе?
				</div>
				<div class="accordion__content" id="accordion_1">
					Конечно. Вы можете обратиться в любое отделение банка по всей России,
					независимо от места жительства.
				</div>

				<div class="accordion__item" data-accordion="accordion_2">
					Могу ли я получить кредит на себя, если уже являюсь поручителем по
					другому кредиту?
				</div>
				<div class="accordion__content" id="accordion_2">
					Да, если вашего дохода достаточно для обслуживания кредита и
					поручительства.
				</div>

				<div class="accordion__item" data-accordion="accordion_3">
					Могу ли я вернуть часть денег за страховку при досрочном погашении?
				</div>
				<div class="accordion__content" id="accordion_3">
					Нет, ведь страхование жизни и здоровья продолжает действовать даже
					после того, как кредит погашен досрочно. Поэтому, если страховой
					случай произошел уже после досрочного погашения кредита, вы получите
					компенсацию в полном объеме.
				</div>

				<div class="accordion__item" data-accordion="accordion_4">
					Если банк отказал в выдаче кредита, когда можно повторно подать
					заявку?
				</div>
				<div class="accordion__content" id="accordion_4">Через 3 месяца.</div>

				<div class="accordion__item" data-accordion="accordion_5">
					Как мне получить наличные?
				</div>
				<div class="accordion__content" id="accordion_5">
					Если у вас нет карты ВТБ, мы бесплатно выдадим вам неименную карту в
					отделении банка. Снимите деньги в любом банкомате ВТБ или Почта Банк
					без комиссии. Первые 7 дней можно снять всю сумму целиком, т.к. лимит
					на снятие наличных не действует. Кстати, вы можете пользоваться
					неименной картой и для оплаты покупок. Комиссия за обслуживание карты
					не взимается. Есть дебетовая карта ВТБ? Сумма кредита пополнит
					доступный остаток вашей карты. Снимайте наличные и оплачивайте покупки
					как обычно. Рекомендуем подключить опцию «Заёмщик», чтобы экономить на
					платежах по кредиту: чем больше покупок по карте — тем ниже ставка по
					кредиту.
				</div>

				<div class="accordion__item" data-accordion="accordion_6">
					Переносится ли дата платежа, если она приходится на
					нерабочий/праздничный день?
				</div>
				<div class="accordion__content" id="accordion_6">
					Да, дата платежа переносится на следующий рабочий день.
				</div>

				<div class="accordion__item" data-accordion="accordion_7">
					Можно ли выбрать/изменить дату платежа?
				</div>
				<div class="accordion__content" id="accordion_7">
					Вы можете выбрать удобную дату ежемесячного платежа в момент
					оформления кредита в офисе банка. После оформления кредита дата
					платежа фиксируется согласно графику платежей и не изменяется, но при
					этом вы можете внести деньги на счет в любой удобный день до даты
					платежа. В дату платежа они автоматически зачислятся в счет погашения
					кредита.
				</div>

				<div class="accordion__item" data-accordion="accordion_8">
					Может ли кто-нибудь вместо меня внести платёж по кредиту?
				</div>
				<div class="accordion__content" id="accordion_8">
					Конечно, мы примем платёж от любого человека. Вы можете попросить
					близкого человека внести платёж за вас. В отделении ему понадобится
					паспорт и номер вашего кредитного договора. Также можно перевести
					нужную сумму по реквизитам счёта через интернет-банк.
				</div>

				<div class="accordion__item" data-accordion="accordion_9">
					Уезжаю в отпуск. Как мне внести платёж?
				</div>
				<div class="accordion__content" id="accordion_9">
					Самое удобное — через ВТБ-Онлайн. Главное, чтобы не подвёл интернет.
					Но можно через отделение или банкомат ВТБ. В крайнем случае можно
					попросить знакомых или родных внести платёж за вас.
				</div>
			</div>
		</div>
	</div>
</section>
