<section class="section section--grey" id="testimonials">
	<div class="container">
		<h2 class="section__title section__title--center">Отзывы</h2>
		<div class="testimonials">
			<div class="testimonials__item">
				<div class="testimonials__name">Ислам</div>
				<p class="testimonials__text">
					Понадобились деньги на обучение сына. Хотели, чтобы он поступил в
					Российский университет дружбы народов. Однако результаты ЕГЭ не
					позволили на это рассчитывать. Была оформлена ссуда под залог квартиры
					в вашей компании. Очень удобный сервис. Никакой беготни со справками,
					ожиданий в очередях. Быстро, профессионально, четко. Выплачиваем
					деньги ежемесячно, а ребенок уже получает образование.
				</p>
			</div>
			<div class="testimonials__item">
				<div class="testimonials__name">Артур</div>
				<p class="testimonials__text">
					Обращалась, чтобы оформить кредит под залог моей старой квартиры.
					Порадовал низкий процент, а в банках ставку задирали. Недавно
					переехала в новую квартиру!
				</p>
			</div>
			<div class="testimonials__item">
				<div class="testimonials__name">Сережа</div>
				<p class="testimonials__text">
					Спасибо за оказанное сопровождение сделки и одобрение в банке по
					выгодному курсу. Вячеславу и Кириллу отдельное спасибо за коммуникацию
					с продавцом для оперативного выхода на сделку.
				</p>
			</div>
			<div class="testimonials__item">
				<div class="testimonials__name">Стас</div>
				<p class="testimonials__text">
					Работа компании в целом очень профессиональная и четкая. Быстро
					помогли найти подходящий вариант, за что большое спасибо. Отдельно
					хочу отметить отличную работу менеджера Прохорова Егора. Буду
					рекомендовать компанию знакомым.
				</p>
			</div>
		</div>
	</div>
</section>
